<!--The content below is only a placeholder and can be replaced.-->
<ul>

  <span>
      <li><a href="#about" class="nigeria-dropdown">Nigeria</a></li>
  </span>
  <li><a href="#news">Settings</a></li>
  <li><a href="#news">Finance</a></li>
  <li><a href="#news">Operations</a></li>
  <li><a href="#news">Orders</a></li>
  <li><a href="#news"></a></li>
  <li><a routerLink="/trips" routerLinkActive="active-link">Trips</a></li>
  <li><a href="#contact">Battlefield</a></li>
  <li><a class="active" href="#home">Dashboard</a></li>
</ul>


<router-outlet></router-outlet>
